<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".gramweight.GramWeightEditActivity"
            android:exported="false" />
        <activity
            android:name=".category.list.CategoryListActivity"
            android:exported="false" />
        <activity
            android:name=".category.files.CategoryFileListActivity"
            android:exported="false" />
    </application>
</manifest>
