<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:exported="true"
            android:name="com.yung.host.MainActivity"
            android:theme="@style/Theme.Compose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:exported="false"
            android:name="com.yung.host.activity.RouteTestActivity"
            android:theme="@style/Theme.Compose" />
        <activity
            android:exported="false"
            android:name="com.yung.host.activity.PdfTestActivity"
            android:theme="@style/Theme.Compose" />
    </application>
</manifest>
